[submodule "swappify-image-open"]
	path = swappify-image-open
	url = git@github.com:Krzysztof-Kolodziejczyk/swappify-image-open.git
[submodule "swappify-be"]
	path = swappify-be
	url = git@github.com:Krzysztof-Kolodziejczyk/swappify-be.git
