[submodule "swappify-image-open"]
	path = swappify-image-open
	url = git@github.com:Krzysztof-Kolodziejczyk/swappify-image-open.git
[submodule "swappify-front-api"]
	path = swappify-front-api
	url = git@github.com:Krzysztof-Kolodziejczyk/swappify-front-api.git
