[submodule "swappify-image-open"]
	path = swappify-image-open
	url = git@github.com:Krzysztof-Kolodziejczyk/swappify-image-open.git
[submodule "swappify-be"]
	path = swappify-be
	url = https://github.com/Krzysztof-Kolodziejczyk/swappify-backend
[submodule "swappify-front"]
	path = swappify-front
	url = https://github.com/Krzysztof-Kolodziejczyk/swappify-front
